{% extends 'base.html.twig' %}



{% block title %}Visits{% endblock %}

{% block body %}
    <style>
        .grid{
            height: 100%;
            width: 100%;

        }
        .segment-empty{
            visibility: hidden;
        }
    </style>

    <div  class="ui grid middle aligned">
        <div class="row">
            <div class="column">
                <div class="ui text container ">

                    <div class="ui two massive buttons">
                        <button class="massive  ui button teal" onclick="location.href='visit/find'">Find Visit</button>
                        <div class="or"></div>
                        <button class="  ui button violet" onclick="location.href='visit/new'">Register Visit</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
